h1{
    color: rgb(75, 197, 197);
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgba(35, 146, 150, 0.486);
}
#spanId¨{
    font-size: 18px;
    margin: 50px;
}
.divClass{
    padding: 50px;
    border: 7px solid darkcyan;
}